.App {
  text-align: center;
  background: black;
}

body {
  background: rgb(191, 191, 242);
}

App::-webkit-scrollbar-track, App::-webkit-scrollbar-button {
  display: none;
  visibility: hidden;
}

.header {
  text-align: center;
  height: 5rem;
  line-height: 5rem;
  background: rgb(102, 102, 245);
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.container-main {
  width: 40%;
  height: 30vh;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .container-main {
    width: 90%;
    padding: 10px;
    height: 40vh;
  }
  .input, .output {
    width: 50% !important;
    height: 3rem !important;
  }
  .button-clear {
    z-index: 1;
  }
  .image-container {
    margin-top: -3rem;
    z-index: -1;
  }
  .image-flag {
    height: 20vh !important;
    width: 30vh !important;
  }
}

.input {
  min-width: 300px;
  height: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  outline: none;
  margin-bottom: 1rem;
  box-shadow: 2px 5px 5px #888888;
  padding-left: 10px;
}

.button-clear {
  width: 15rem;
  height: 3rem;
  margin-top: 20px;
  background: rgb(245, 240, 102);
  color: black;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  z-index: 1;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 2px 5px 5px #888888;
  z-index: 1;
}

.button-clear:hover {
  cursor: pointer;
}

.button-clear:focus {
  background: darkgray;
}

.output {
  min-width: 300px;
  height: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 2px 5px 5px #888888;
  background: #e2e1e1;
  text-indent: 10px;
}

.input::placeholder, .output::placeholder {
  text-indent: 5px;
}

.suggestion-container {
  position: relative;
  margin: auto;
  width: 30%;
  min-width: 310px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 50vh;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px black;
  background: white;
  z-index: 1;
}

.suggestion-container .suggestion{
  background: white;
  color: black;
  margin: 1px;
  font-size: 2rem;
  padding: 5px;
  text-align: center;
  width: 90%;
  border: none;
}

.suggestion-container .suggestion:hover{
  transform: scale(1.1);
  border-radius: 10px;
  background: lightgoldenrodyellow;
}

.image-container {
  text-align: center;
  z-index: -1;
}

.image-flag {
  background: white;
  margin-top: 4rem;
  height: 40vh;
  width: 60vh;
  border-radius: 20px;
  opacity: 0.9;
  z-index: -1;
  box-shadow: 2px 5px 5px #888888;
  object-fit: cover;
}