.App {
  text-align: center;
  background: black;
}

App::-webkit-scrollbar-track, App::-webkit-scrollbar-button {
  display: none;
  visibility: hidden;
}

.header {
  text-align: center;
  height: 5rem;
  line-height: 5rem;
  background: rgb(102, 102, 245);
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.container-main {
  width: 40%;
  text-align: center;
  margin: auto;
  height: 10rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-fields {
  margin-right: 2rem;
}

@media only screen and (max-width: 600px) {
  .container-main {
    flex-direction: column;
    padding-bottom: 20px;
    margin-top: 4rem;
  }
  .container-fields {
    margin: 0;
  }
  .input, .output {
    width: 50%;
  }
  .button-clear {
    width: 50vw !important;
    margin-top: 20px;
    height: 3rem !important;

  }
  .image-container {
    margin-top: 0rem;
  }
  .image-flag {
    background: black;
    height: 20vh !important;
    width: auto;
  }
}

.input {
  min-width: 300px;
  height: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  border-radius: 10px;
  margin: auto;
  outline: none;
  margin-bottom: 1rem;
}

label, input {
  display:block;
  margin: auto;
}

.button-clear {
  width: 5rem;
  height: 7rem;
  background: rgb(102, 102, 245);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  z-index: 1;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.button-clear:hover {
  cursor: pointer;
}

.button-clear:focus {
  background: darkgray;
}

.output {
  min-width: 300px;
  height: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  border-radius: 10px;
  outline: none;
}

.input::placeholder, .output::placeholder {
  text-indent: 5px;
}

.suggestion-container {
  position: absolute;
  margin: auto;
  width: 30%;
  min-width: 310px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  overflow-y: scroll;
  max-height: 50vh;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px black;
}

.suggestion-container .suggestion{
  /* flex: 1 0 10%; */
  background: white;
  color: black;
  margin: 1px;
  font-size: 2rem;
  padding: 5px;
  text-align: center;
  width: 90%;
  border: none;
}

.suggestion-container .suggestion:hover{
  transform: scale(1.1);
  border-radius: 10px;
  background: lightgoldenrodyellow;
}

.image-container {
  text-align: center;
}

.image-flag {
  margin-top: 5rem;
  height: 40vh;
  width: auto;
  border: 2px solid black;
  border-radius: 20px;
  opacity: 0.9;
  z-index: -1;
}