.App {
  text-align: center;
  background: black;
}

.header {
  text-align: center;
  height: 2rem;
  line-height: 2rem;
  background: yellow;
}

.searchbox {
  text-align: center;
  margin: auto;
  height: 10rem;
  background: white;
  margin-top: 4rem;
}

.searchbox--input {
  width: 50%;
  height: 2rem;
  border-radius: 10px;
}

.searchbox .suggestion-container {
  margin: auto;
  width: 80%;
  line-height: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.searchbox .suggestion-container .suggestion{
  flex-grow: 1;
  background: white;
  color: black;
  margin: 1px;
  border: 2px solid black;
  font-size: 1rem;
  border-radius: 5px;
}

.searchbox .suggestion-container .suggestion:active {
  transform: scale(0.9);
}

.searchbox .suggestion-container .suggestion:hover{
  background: lightblue;
}


/* .results-container {
  text-align: center;
  margin: auto;
  height: 30rem;
  line-height: 30rem;
  background: blue;
} */